{% load static %}
{% block experience %}

<!-- awards -->
<section id="awards" class="module module-gray">
    <div class="container">
        <div class="module-header wow fadeInUp">
            <h2 class="module-title">
                Awards
                <span>Awards</span>
            </h2>
            <div class="module-line"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="iconbox1 wow fadeInUp">
                    <img src="{% static 'images/a1.jpeg' %}" class="">
                    <h3 class="iconbox1-title">Mora Ventures 3.0 <br>- Organized by
                        Entrepreneurship Society</h3>
                    <div class="iconbox1-desc">
                        Winner among 30 different teams, held in Colombo, Sri Lanka
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox1 wow fadeInUp">
                    <img src="{% static 'images/imaginecup.jpg' %}" class="">
                    <h3 class="iconbox1-title">Microsoft Imagine Cup 2017 <br>- Organized by Microsoft Corp </h3>
                    <div class="iconbox1-desc">
                        • National Winner from over 150+ entries <br> • Finalist from South East Asia, held in Manila,
                        Philippines <br> •
                        Semifinalist in World Finals, over 54 teams and 39 countries, held at Microsoft Corporative
                        Headquarter in Redmond, US
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="iconbox1 wow fadeInUp">
                    <img src="{% static 'images/about.jpg' %}" class="">
                    <h3 class="iconbox1-title">Human Rights Appathon <br>- Organized by MIC, UNDP and NHRC
                    </h3>
                    <div class="iconbox1-desc">
                        Second prize winner over 29 teams and 550 entries, held in Dhulikhel, Nepal
                    </div>

                </div>
            </div>

        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Experience start  -->

<section id="experience" class="module">
    <div class="container">
        <div class="module-header wow fadeInUp">
            <h2 class="module-title">
                Experience
                <span>Experience</span>
            </h2>
            <div class="module-line"></div>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge primary"><i class="fas fa-user-tie"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">YOUNG INNOVATOR</h4>
                        <p><small class="text-muted"> <i class="fas fa-calendar-alt"></i> MARCH,2019 –
                                CURRENT</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>• Part of the global community of next-generation leaders that work together to cocreate,
                            ideate, problem-solve, co-design and develop new solutions for the future of work and social
                            activism causes.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fas fa-chalkboard-teacher"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">DIGITAL LITERACY TRAINER, INFORMATION OF DIGITAL TECHNOLOGY </h4>
                        <p><small class="text-muted"> <i class="fas fa-calendar-alt"></i> 2016 – CURRENT</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>• Travel to the rural area of Nepal and Organizing Digital Literacy Training in the
                            community as well as government schools.</p>
                        <p> • Provide training on different software and
                            technologies for free to the people of rural areas with the aim of helping them to learn
                            digital skills for their day to day life.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="fas fa-laptop-code"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">COFOUNDER / TECHNICAL LEAD, ECHO INNOVATORS PVT. LTD </h4>
                        <p><small class="text-muted"> <i class="fas fa-calendar-alt"></i> 2017 – CURRENT</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>• Design and Develop software and application using different technologies</p>
                        <p>• Involve in different tech scopes like data analysis and data science when necessary.</p>
                        <p>• Effectively communicate project scope, schedule, and budget with both customers and
                            contractors.</p>
                        <p>• Develop a detailed project plan to monitor and track progress </p>
                        <p>• Measure project performance using appropriate tools and techniques</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fas fa-award"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Microsoft Student Partner 2016, Microsoft Innovation Center</h4>
                        <p><small class="text-muted"> <i class="fas fa-calendar-alt"></i> 2016 – 2017</small>
                        </p>
                    </div>

                    <div class="timeline-body">
                        <p>•Run workshops and hackathons</p>
                        <p>•Host tech events and give demos on campus</p>
                        <p>•Work alongside Microsoft professionals, assisting them during hackathons and events</p>
                        <p>•Join exclusive Microsoft training events to learn the latest technologies</p>
                        <p>•Grow and nurture a community of students and faculty on-campus and online</p>
                        <p>•Enhance different skills and career opportunities</p>

                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info"><i class="fas fa-user-secret"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">SPEAKER, DIMITY NEPAL</h4>
                        <p><small class="text-muted"> <i class="fas fa-calendar-alt"></i> 2017 – 2018</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>• Presentation and speech on different technology to the student of Information Technology
                            and engineering colleges to motivate them for their future.</p>
                    </div>

                </div>
            </li>
        </ul>

    </div>

</section>
<!-- Experience end   -->

<!-- Interest -->
<section>
    <div class="container-fluid processection paddingforall">
        <!-- <div class="container head-element text-center">
            <h2 class="capitalize para-pad">Interest</h2>
        </div> -->
        <div class="module-header wow fadeInUp">
            <h2 class="process">
                Interests
            </h2>
            <div class="spansm center-block"><span></span></div>
        </div>

        <div class="container-fluid text-center margin-process	" id="work-process">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle text-center">
                        <span>1</span>
                        <i class="fa fa-futbol fa-2x"></i>
                    </div>
                    <h3 class="capitalize">Football</h3>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle text-center">
                        <span>2</span>
                        <i class="fas fa-plane fa-2x"></i>
                    </div>
                    <h3 class="capitalize">Travelling</h3>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle text-center">
                        <span>3</span>
                        <i class="fas fa-camera fa-2x"></i>
                    </div>
                    <h3 class="capitalize">Photography</h3>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle text-center">
                        <span>4</span>
                        <i class="fas fa-film fa-2x"></i>
                    </div>
                    <h3 class="capitalize">Documentry</h3>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle text-center">
                        <span>5</span>
                        <i class="fas fa-headphones-alt fa-2x"></i>
                    </div>
                    <h3 class="capitalize">Music</h3>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle text-center">
                        <span>6</span>
                        <i class="fas fa-laptop-code fa-2x"></i>
                    </div>
                    <h3 class="capitalize">AI, ML, DS</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Gallary start -->

<section id="gallary" class="module module-gray">
    <div class="container">
        <div class="row">

            <div class="module-header">
                <h2 class="module-title">
                    My Activities
                    <span>Gallary</span>
                </h2>
                <div class="module-line"></div>
            </div>

        </div><!-- .row -->

        <!-- gallary Filter start-->

        <!-- <div class="row">

            <div class="col-sm-12">

                <ul id="filter">
                    <li class="active" data-group="all">All</li>
                    <li data-group="slideshow">Slideshow</li>
                    <li data-group="video">Video</li>
                    <li data-group="image">Image</li>
                </ul>

            </div>

        </div> -->

        <!-- gallary Filter end -->
        <ul class="list-items-container">


            <li class="list-item" data-groups="all slideshow">
                <figure>
                    <img src="{% static 'images/p1.jpg' %}" alt="p1">
                    <figcaption>
                        <a href="{% static 'images/p1.jpg' %}" class="simple-ajax-popup"></a>
                        <div class="caption-inner">
                            <h3 class="portfolio-item-title">View</h3>
                            <!-- <div class="portfolio-item-desc">Slideshow</div> -->
                        </div>
                    </figcaption>
                </figure>
            </li>


            <li class="list-item" data-groups="all video">
                <figure>
                    <img src="{% static 'images/a2.jpg' %}" alt="p2">
                    <figcaption>
                        <a href="{% static 'images/a2.jpg' %}" class="simple-ajax-popup"></a>
                        <div class="caption-inner">
                            <h3 class="portfolio-item-title">View</h3>
                            <!-- <div class="portfolio-item-desc">Video</div> -->
                        </div>
                    </figcaption>
                </figure>
            </li>

            <li class="list-item" data-groups="all image">
                <figure>
                    <img src="{% static 'images/p3.jpg' %}" alt="p3">
                    <figcaption>
                        <a href="{% static 'images/p3.jpg' %}" class="simple-ajax-popup"></a>
                        <div class="caption-inner">
                            <h3 class="portfolio-item-title">View</h3>
                            <!-- <div class="portfolio-item-desc">Image</div> -->
                        </div>
                    </figcaption>
                </figure>
            </li>

            <li class="list-item" data-groups="all slideshow">
                <figure>
                    <img src="{% static 'images/p4.jpg' %}" alt="p4">
                    <figcaption>
                        <a href="{% static 'images/p4.jpg' %}" class="simple-ajax-popup"></a>
                        <div class="caption-inner">
                            <h3 class="portfolio-item-title">View</h3>
                            <!-- <div class="portfolio-item-desc">Slideshow</div> -->
                        </div>
                    </figcaption>
                </figure>
            </li>

            <li class="list-item" data-groups="all video">
                <figure>
                    <img src="{% static 'images/p5.jpg' %}" alt="p5">
                    <figcaption>
                        <a href="{% static 'images/p5.jpg' %}" class="simple-ajax-popup"></a>
                        <div class="caption-inner">
                            <h3 class="portfolio-item-title">View</h3>
                            <!-- <div class="portfolio-item-desc">Video</div> -->
                        </div>
                    </figcaption>
                </figure>
            </li>

            <li class="list-item" data-groups="all image">
                <figure>
                    <img src="{% static 'images/p6.jpg' %}" alt="p6">
                    <figcaption>
                        <a href="{% static 'images/p6.jpg' %}" class="simple-ajax-popup"></a>
                        <div class="caption-inner">
                            <h3 class="portfolio-item-title">View</h3>
                            <!-- <div class="portfolio-item-desc">Image</div> -->
                        </div>
                    </figcaption>
                </figure>
            </li>

        </ul><!-- .projects-container -->
        <!-- <div class="col-sm-12">
            <a class="blog-viewMore" href="{% url 'blog:album_list' %}">VIEW MORE</a>
        </div> -->


    </div><!-- .contaier -->


</section>

<!-- Gallary end -->
<!-- linkedin twitter -->
<section id="social" class="module">
    <div class="container">
        <div class="col-md-6 col-sm-12 wow fadeInUp">
            <div class="row">

                <div class="module-header">
                    <h2 class="module-title">
                        Twitter
                        <span>Feeds</span>
                    </h2>
                    <div class="module-line"></div>
                </div>

            </div>
            <a class="twitter-timeline" data-lang="en" data-height="430" data-theme="dark"
                href="https://twitter.com/IamPradipSubedi?ref_src=twsrc%5Etfw">Tweets by IamPradipSubedi</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


        </div>

        <div class="col-md-6 col-sm-12 wow fadeInUp">
            <div class="row">

                <div class="module-header">
                    <h2 class="module-title">
                        Vlog
                        <span>Manang</span>
                    </h2>
                    <div class="module-line"></div>
                </div>

            </div>
            <!-- <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="light" data-vanity="subedipradip"><a class="LI-simple-link"
                    href='https://np.linkedin.com/in/subedipradip?trk=profile-badge'>Pradip Subedi</a>
            </div> -->
            <iframe width="560" height="430" src="https://www.youtube.com/embed/uhhnJKAlcFA" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

    </div>


</section>

<!-- feturedin start -->
<section id="featuredin" class="module ">
    <div class="container">
        <div class="row">

            <div class="module-header">
                <h2 class="module-title">
                    Project Featured In
                    <span>My works</span>
                </h2>
                <div class="module-line"></div>
            </div>

        </div>
        <!-- .row -->

        <!-- Featured In -->
        <div id="owl-feature">
            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="https://www.forbes.com/sites/rodberger/2017/08/08/the-undiscovered-country-technology-that-can-shape-our-world/#6ecc39205234"
                        target="_blank"> <img src="https://i.ibb.co/09fhd2h/forbes-logo.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="https://www.huffingtonpost.com/entry/5988b058e4b0f25bdfb31eac" target="_blank"> <img
                            src="https://i.ibb.co/7gq3hqX/huffpost.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="https://www.youtube.com/watch?v=AdCyWM87wqM" target="_blank"> <img
                            src="https://i.ibb.co/vmgJFxz/cropped-himalaya-tv-logo-1.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="https://www.forbes.com/sites/rodberger/2017/08/08/the-undiscovered-country-technology-that-can-shape-our-world/#6ecc39205234"
                        target="_blank"> <img src="https://i.ibb.co/09fhd2h/forbes-logo.png" class="img-responsive"></a>
                </div>
            </div>


            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="https://news.microsoft.com/apac/features/saving-farming-families-tech-one-cow-goat-buffalo-time/"
                        target="_blank"> <img src="https://i.ibb.co/fXgv0Gw/microsoft.png" class="img-responsive"></a>
                </div>
            </div>

            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="http://www.readme.lk/mora-ventures-3-0-post-event/" target="_blank"> <img
                            src="https://i.ibb.co/V2sncRf/rmlogo.png" class="img-responsive"></a>
                </div>
            </div>
            <div class="item sidepaddding-owl">
                <div class="portfolio-featured featured-padding">
                    <a href="https://ictframe.com/team-echo-innovators-nepal/" target="_blank"> <img
                            src="https://i.ibb.co/MS3pfpr/ict-frame.jpg" class="img-responsive"></a>
                </div>
            </div>
        </div>

    </div><!-- .contaier -->








    <!-- .projects-container -->

</section>
<!-- feturedin end -->



{% endblock %}